
{% extends 'restaurante/estructuraBase.html.twig' %}

{% block titulo %}Bienvenido a Casa Carmen{% endblock %}

{% block contenido %}

            <hr></hr>
            <div class="contact-form container">
	        <h3>Añadir Oferta</h3>
	        {{form(form)}}
            </div>  
            <hr></hr>
{% endblock %}

{% block sidebar %}
{% endblock %}